# ignore all
*

# config files
!config/burnt_basic.json
!config/clavis.yaml
!config/DistantHorizons.toml
!config/kiwi-client.yaml
!config/structurify.json
!config/tectonic.json

# kubejs
!kubejs

# mods
!mods

# other
!.gitignore
!TrollPhyslogo.png
